[psana]
#modules	= cspad_mod.CsPadCalib psmon.emission
modules	= cspad_mod.CsPadCalib psmon.emission ImgAlgos.Tahometer
#modules	= cspad_mod.CsPadCalib psmon.emission EventKeys

#calib-dir = /reg/d/psdm/xpp/xppd7114/calib
#calib-dir = /reg/neh/home/tkroll/myrelease/cxib6714/calib/
calib-dir = /reg/d/psdm/xpp/xppe0314/calib/

#files = exp=xppd7114:run=83
#files = exp=cxib6714:run=20,21
#events = 1000
#skip-events = 999

[cspad_mod.CsPadCalib]
inputKey	= 
outputKey	= calibrated
doPedestals	= yes
doPixelStatus	= yes
doCommonMode	= yes
doPixelGain	= no

[ImgAlgos.Tahometer]
dn         = 50
print_bits = 7

[psmon.emission]
#tile_with_signal = 0 or 1
tile_with_signal  = 1

server_port = 12322
reset_port = 12324

# region of interest:  !!! it is read of from utilities_emission.py through the run number !!
# cxib6714
#roi = 100 120 0 388


# threshold mode: 0 - fixed threshold, 1 - rms threshold
threshold_mode    = 1

# threshold above which pixels are included in the sum (if below they are set to zero)
threshold         = 20

# dynamic threshold using thr dark rms: If pixel is above rms*factor, it keeps its value, otherwise zero
rms_thresh_factor = 4.5

# event selection: event codes & ipm intensity
xfel_off_code = 96
beam_sharing  = 162
# use_BLd = , if not been chose
use_BLD       = 
filter_ipm    = 2
filter_limit  = 0.1
# normalize using the ipm reading
do_norm       = 2

