[xpp_step]
#ROI for camera; format [x1,x2,y1,y2]
roi_sig  = [450,650,1,1024]
roi_norm = [20,400,1,1024]
#
xray_off_code	    = 92
laser_off_code	    = 92
opal_num            = 1
xrayoff_limit	    = 0.1
#
nav_offevents	    = 5
do_norm		    = 0
#
run_old            = 0
read_only          = 0
numPixelFit        = 200
nav_res	   	   = 60
#
# write output
write_file         = 0
write_PV           = 0
#
doPlot             = 1
doFitPlot          = 0
doFit              = 1
doDiff             = 1

# interactive ?
interactive        = 0

# what projection ?
proj_horizontal    = 1

#calibcycle plots
