[psana]
#modules	= xppmodules.xpp_littleDat CSPadPixCoords.CSPadImageProducer xppmodules.xpp_cspadMovie ImgAlgos.Tahometer
modules	= xppmodules.xpp_littleDat xppmodules.xpp_cspadMovie ImgAlgos.Tahometer
#modules	= xppmodules.xpp_littleDat ImgAlgos.Tahometer
#modules	= ImgAlgos.Tahometer

[ImgAlgos.Tahometer]
dn         = 500
print_bits = 7

[cspad_mod.CsPadCalib]
inputKey      =
outputKey     = calibrated
doPedestals   = yes
doPixelStatus = yes
doCommonMode  = yes
 
[CSPadPixCoords.CSPadImageProducer]
source        = XppGon.0:Cspad.0
#key           = calibrated
key           = 
imgkey        = cspad_img
tiltIsApplied = true
print_bits    = 0

[xppmodules.xpp_littleDat]
# event selection: event codes
xfel_off_code   = 162
laser_off_code  = 91
#optional littleData additions
#center-of-mass and integral of ROI of area detector
doCom = false
comSrc = opal_0
comROI = 106 141 80 151 
#(small) ROI of area detector that is saved as raw data
doArea = false
#areaSrc = cs140_rob
#areaROI = 106 141 80 151 0 0
#additional EPICS variables
doEpics = true
epicsName = xpp_mot1 xpp_ao1
epicsPV = XPP:SB2:MMS:13.RBV XPP:USR:ao1:1

[xppmodules.xpp_cspadMovie]
#setup for cspad image cube.
binVar = scan
#binVar = ipm2 sum
#binVar = epics lxt_vitara
ttCorr = ''
#ttCorr = tt TTSPEC_FLTPOS_PS
#ttCorr = phasecav T1
range_lower  = -2.0
range_upper  = 10.
num_bins = 120

requireL3T = false
ipm_lower = -1.
ipm_upper = 10.
debug = false
timeIt = true
preselect = true
saveToFile = true
fileBasename = /reg/d/psdm/xpp/xppi0813/scratch/CsPad_movie_shapeend_
subtractZeroImg = false
#readCsPadImage = true
readCsPadImage = false
splitBins = false

